extends layout

block content
    .container
        .row
            h1.c-xs-4= title
        form(action="login", method="POST")
            .row
                .c-md-2
                    input.fill.inline-block(name="username", type="text")
                .c-md-2
                    input.fill.inline-block(name="password", type="password")
            .row
                .c-md-1.c-md-push-3
                    button.fill.inline-block Login
