$address-text-color = #61757e
$address-link-text-color = #1380fd
$background-color = #fefefe
$emoji-line-height = 56px
$emoji-text-color = #61757e
$emoji-text-size = 56px
$footer-text-color = #61757e
$footer-link-text-color = #1380fd
$h1-font-size = 24px
$h1-line-height = 28px
$h2-font-size = 21px
$header-text-color = #182e61
$line-height = 28px
$link-text-color = #0270ed
$quotation-text-color = #61757e
$quotation-link-text-color = #1380fd
$text-color = #47565c
$text-size = 16px

*,*:after,*:before
    box-sizing border-box
    margin 0
    padding 0

a
    color $link-text-color
    text-decoration none

    &:hover 
        text-decoration underline

address
blockquote
p
    padding 8px 0 20px

address
    color $address-text-color
    font-style normal

    a
        color $address-link-text-color

    .fa
        display inline-block
        margin-right 12px
        text-align center
        width 23px

blockquote 
    color $quotation-text-color

    a
        color $quotation-link-text-color

button
	background-color rgb(100, 167, 220)
	border 1px solid rgb(61, 154, 215)
	border-radius 2px
	box-shadow 0px 4px 4px rgba(255, 255, 255, 0.1) inset, 0px -2px 2px rgba(0, 0, 0, 0.1) inset
	color rgb(255, 255, 255)
	cursor pointer
	display block
	height 48px
	margin-bottom 24px
	padding 14px 13px 12px
	text-shadow 0px 1px 0px rgba(0, 0, 0, 0.1)

.center
    text-align center

.emoji
    color $emoji-text-color
    font 600 $emoji-text-size/$emoji-line-height 'Open Sans', sans-serif

.fill
    width 100%

footer
    color $footer-text-color
    font-style normal

    a
        color $footer-link-text-color

    ul
        list-style none
        padding-left 0

        &:after
        &:before
            content " "
            display table

        &:after
            clear both

        li
            float left
            margin-right 23px

.glue
    display inline-block
    height auto
    min-width 100%
    max-width 100%
    width 100%

h1
h2
    color $header-text-color
    font 600 $h1-font-size/$h1-line-height 'Open Sans', sans-serif
    font-weight 600
    padding 33px 0 23px

h2 
    font-size $h2-font-size
    padding 34px 0 22px

html 
    background $background-color //url('/i/grid.png') repeat top left
    color $text-color
    font 400 $text-size/$line-height 'Roboto', sans-serif

.inline-block
    display inline-block

input[type="text"]
input[type="password"]
textarea
	background-color white
	border 1px solid rgb(193, 193, 193)
	border-radius 2px
	box-shadow 0px 1px 2px rgba(0, 0, 0, 0.14) inset, 1px 1px 0 #fff, -1px -1px 0 #fff
	box-sizing border-box
	font-family 'Open Sans', sans-serif
	font-size 13px
	height 48px
	line-height 14px
	margin 0 0 24px
	padding 15px 14px 14px
	
	&:focus
		border-color rgb(74, 163, 223)
		box-shadow 0px 0px 4px rgba(85, 186, 255, 0.33)

input[type="text"].icon
input[type="password"].icon
    padding-left 62px

.input-icon
    background-color #e0e0e0
    border 1px solid rgb(193, 193, 193)
    border-radius 2px
    display inline-block
    height 48px
    margin-right -48px
    width 48px
    z-index 100000

li 
    margin-bottom -8px
    padding 8px 0 0

.right 
    text-align right

ul 
    list-style-position inside
    padding 0 0 28px 23px
