$columns = 4

.container
.container
.row
.row
    &:after
    &:before
        content " "
        display table

    &:after
        clear both

.container 
    margin 56px auto
    padding 0 23px
    position relative

.row 
    margin-right -23px

[class*="c-"]
    display block
    min-height 1px
    position relative
    padding-right 23px

[class*="c-xs-"]
    float left

for $n in (1..$columns)
    .c-xs-{$n}
        width (100 / $columns * $n)%

for $n in (1..($columns - 1))
    .c-xs-pull-{$n}
        right (100 / $columns * $n)%

    .c-xs-push-{$n}
        left (100 / $columns * $n)%

@media (min-width: 544px) 
    [class*="c-sm-"]
        float left

    for $n in (1..$columns)
        .c-sm-{$n}
            width (100 / $columns * $n)%

    for $n in (1..($columns - 1))
        .c-sm-pull-{$n}
            right (100 / $columns * $n)%

        .c-sm-push-{$n}
            left (100 / $columns * $n)%

@media (min-width: 768px) 
    .container 
        padding-left 46px
        padding-right 46px
        width 759px

    [class*="c-md-"]
        float left

    for $n in (1..$columns)
        .c-md-{$n}
            width (100 / $columns * $n)%

    for $n in (1..($columns - 1))
        .c-md-pull-{$n}
            right (100 / $columns * $n)%

        .c-md-push-{$n}
            left (100 / $columns * $n)%

@media (min-width: 992px) 
    .container 
        padding-left 69px
        padding-right 69px
        width 966px

    [class*="c-lg-"]
        float left

    for $n in (1..$columns)
        .c-lg-{$n}
            width (100 / $columns * $n)%

    for $n in (1..($columns - 1))
        .c-lg-pull-{$n}
            right (100 / $columns * $n)%

        .c-lg-push-{$n}
            left (100 / $columns * $n)%

@media (min-width: 1200px) 
    .container 
        padding-left 92px
        padding-right 92px
        width 1173px

    [class*="c-xl-"]
        float left

    for $n in (1..$columns)
        .c-xl-{$n}
            width (100 / $columns * $n)%

    for $n in (1..($columns - 1))
        .c-xl-pull-{$n}
            right (100 / $columns * $n)%

        .c-xl-push-{$n}
            left (100 / $columns * $n)%

@media (min-width: 1600px) 
    .container 
        padding-left 115px
        padding-right 115px
        width 1541px

    [class*="c-xxl-"]
        float left

    for $n in (1..$columns)
        .c-xxl-{$n}
            width (100 / $columns * $n)%

    for $n in (1..($columns - 1))
        .c-xxl-pull-{$n}
            right (100 / $columns * $n)%

        .c-xxl-push-{$n}
            left (100 / $columns * $n)%
